import(affy)
import(limma)
export("ReadExi")
export("createAB")
export("NormiR")
export("bg.correct.miR")
export("norm.miR")
export("summarize.miR")
export("NormiR.bgcorrect.methods")
export("NormiR.normalize.methods")
export("NormiR.pmcorrect.methods")
export("NormiR.summary.methods")
export("NormiR.spikein.args")
export("make.gal.env")
